/*background image*/

body {
    background-color: #ffdd50 !important;
    background-image: url("/img/triangles.png") !important;
    color: #292929 !important;
}

.navbar-light {
  background: #ffb912 !important;
  color: #292929 !important;
}

.home-section:nth-of-type(2n) {
    background-color: #ffdd50 !important;
    background-image: url("/img/triangles.png") !important;
}

.home-section {
  background-color: #ffdd50 !important;
  background-image: url("/img/triangles.png") !important;
}

.card-simple {
  background-color: #f2bd42 !important;
}

a {
  color: #292929 !important;
}

a:hover {
    color: #fff !important;
}
