//********************************************************
//                    Variables
//********************************************************

// based on http://www.color-hex.com/color-palette/37697

$accent-color: #292929; //nero
//$accent-color: #8DB359;  //verde bello acido
//$accent-color: #BBBAB6; //grigione

//$accent-color-hover: #e7c0d4;
$accent-color-hover: #1258ff;
//$accent-color-hover: #8AA88C;

//$font-color: #dddddd;
$font-color: #292929; //nero

//$background-color: #8AA88C; //verdone
$background-color: #ffdd50; //ocra scuro
//$background-color: #292929; //nero
//$background-color: #f2bd42; //ocra

$post-panel-color: #f2bd42; //ocra
//$post-panel-color: #444;

$navbar-color: #ffb912; //ocra scuro

$footer-background-color: #ffb912; //ocra scuro
//$footer-background-color: #292c2f;

$social-links-color: #292929;

$note-color: #87CEFA;
$warning-color: #ffff00;
*/

a,
a:visited,
h3.article-title a:hover {
    color: rgb(76,175,80);
  }

a:hover {
    color: rgb(0,230,118);
}

.navbar-default .navbar-nav li a:hover,
.btn-primary,
.btn-primary.btn-outline {
    color: rgb(76,175,80);
}

/* Articles */

.article-title a {
    color: #151515;
}

.article-metadata a {
    color: #888;
}

.article-metadata a:hover {
    color: rgb(76,175,80);
}

/* Standard buttons */

.btn-primary,
.btn-primary.btn-outline {
    color: rgb(76,175,80) !important;
    border-color: rgb(76,175,80) !important;
}

/* Hover buttons */

.btn-primary.btn-outline:hover {
    border-color: rgb(76,175,80) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:visited,
.btn-primary.btn-outline:active {
    background-color: rgb(76,175,80) !important;
}

/* Navbar buttons */

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: rgb(76,175,80);
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

/* Toolbar buttons */

.btn-toolbar .btn.btn-primary {
  background: rgb(0,230,118);
}

.btn-toolbar .btn.btn-primary:hover,
.btn-toolbar .btn.btn-primary:focus {
  background-color: rgba(0,230,118,0.6);
}

.btn-toolbar .btn.btn-primary:active,
.btn-toolbar .btn.btn-primary.active {
  background-color: rgba(0,230,118,1);
}

/* share buttons */

.dark ul.share li a {
    background-color: rgba(0,0,0,0) !important;
}

/*background image*/

body {
    background-color: #ffdd50 !important;
    background-image: url("../img/triangles.png") !important;
    color: rgba(255,255,255,1) !important;
}

/* home section */
.home-section {
    background-color: rgba(0,0,0,0) !important;
    padding: 110px 0 110px 0;
    animation: intro 0.3s both;
    animation-delay: 0.15s;
}

/* riquadri post nella home */

.dark .card-simple {
    background: #f2bd42 !important;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgb(68, 71, 90);
}

/* navbar */

.navbar-default {
    background: #ffb912 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
}

/* colori titoli */

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: rgb(212, 226, 233);
}

.article-container {
    max-width: 1080px; /* 760px; */
    text-align: justify;
    padding: 1rem 20px 0 20px;
    margin: 0 auto 0 auto;
}
